#trending {
  margin: 40px 0;
}

.trending_1_img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#trending_r_c {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-content: stretch;
  background-color: var(--header-background);
  border-radius: 5px;
  box-shadow: 3px 3px #ddd;
  padding: 10px;
}

#trending h2 {
  margin-bottom: 20px;
  color: var(--trending-title);

}

.trending_1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: flex-start;
  align-items: center;

}

.trending_1_txt {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.trending_1_txt span {
  color: var(--trending-text);
  font-size: 0.85rem;
}

.trending_1_txt span:first-child {
  color: var( --trending-username);
}